.mama{
    position: center;
    margin-left: auto;
    margin-right: auto;
    

    width: 90%;
    margin-top: 10%;
}

.zazrak{
    position: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    

    width: 90%;
    margin-top: 10%;

}

.zazrak1{
    text-align: center;
    position: center;
    margin-left: auto;
    margin-right: auto;
    

    width: 90%;
    margin-top: 10%;

}