.makak {
    /* position: center;
    margin-left: 30px;
    margin-right: auto;
    
    max-height: 180px;
    
    overflow: auto; */
    

    width: 200px;
    /* margin-top: 5%; */
}

/* .headder{
    margin-top: 10%;
    position: center;
    margin-left: auto;
    margin-right: auto;
    
} */

.inputgrup{
    position: center;
    margin-left: auto;
    margin-right: auto;

    margin-top: 20px;
    width: 60%;
}

.mojMalyPesTobi{
    margin-top: -40px;
}

.radiobut{
    position: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10%;
    text-align: center;
}

.page{
    padding-top: 2%;
}